/* Reset some default styles */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  background-color: #111; /* Dark background */
  color: #eee; /* Light text */
}

header {
  background-color: #222; /* Slightly darker header background */
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  background-color: #333; /* Darker tab background */
  padding: 1rem;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #444; /* Border below tabs */
}

nav ul li {
  margin-right: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #ccc; /* Tab text color */
  padding: 0.5rem 1rem;
  border-radius: 4px; /* Rounded tab corners */
  transition: background-color 0.2s;
}

nav ul li a:hover {
  background-color: #444; /* Slightly lighter tab background on hover */
  color: #fff;
}

.content {
  padding: 2rem;
}

footer {
  background-color: #222; /* Slightly darker footer background */
  color: #ccc;
  text-align: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #333; /* Border above footer */
}

/* Advanced styling */
.dashboard-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
}

.setting-card {
  background-color: #333; /* Dark card background */
  border: 1px solid #444; /* Card border color */
  border-radius: 8px;
  padding: 1.5rem;
  margin: 1rem;
  width: calc(50% - 2rem);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.setting-card:hover {
  transform: translateY(-5px);
}

#bot-prefix {
  width: 80%;
  padding: 0.5rem;
  border: 1px solid #444; /* Input border color */
  border-radius: 4px;
  font-size: 16px;
  background-color: #111; /* Darker input background */
  color: #eee;
}

.update-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.2s;
}

.update-button:hover {
  background-color: #0056b3;
}

/* Add display property for tab content */
.tab-content {
  display: none;
}

/* Show active tab content */
.tab-content.active {
  display: block;
}

.log-entries {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
  animation: rainbow-title 5s linear infinite;
}
@keyframes rainbow-title {
  0% {
    box-shadow: 0 0 10px rgba(148, 0, 211, 0.75),
      0 0 20px rgba(75, 0, 130, 0.75), 0 0 30px rgba(0, 0, 255, 0.75);
  }
  50% {
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.75), 0 0 20px rgba(255, 255, 0, 0.75),
      0 0 30px rgba(255, 165, 0, 0.75);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 69, 0, 0.75), 0 0 20px rgba(255, 0, 0, 0.75),
      0 0 30px rgba(255, 255, 255, 0.75);
  }
}
